body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.grid1, .grid2 {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-title {
    color: #f76c6b;
}

button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #f76c6b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #f86d6c;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.delete, .edit {
    cursor: pointer;
}

.delete {
    color: #ff7e5f;
    margin-left: 10px;
}

.edit {
    color: #feb47b;
    margin-left: 10px;
}